# database url
DATABASE_URL=postgres://postgres:secret_passwd@localhost:5432/hexvault

# Email hashing HMAC secret. Generate with: openssl rand -hex 32
EMAIL_PEEPER=a1b2c3d4e5f60718293a4b5c6d7e8f90a1b2c3d4e5f60718293a4b5c6d7e8f90

# JWT secret. Generate with: openssl rand -base64 32
JWT_SECRET=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
